.imageWrap {
    max-width: 400px;
    max-height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.svgWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.svg {
    fill: transparent;
    stroke: #820000;
    stroke-width: 1px;
    cursor: pointer;
    transition: all .2s;
}

.svgActive {
    fill: #820000;
    transition: all .2s;
}