@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #820000;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: hsl(0, 0%, 100%);
}

:root {
  font-family: 'Oswald', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 25px 15px;
  margin: 0 auto;
}

.nav-link {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: aliceblue;
  margin-right: 10px;
  text-decoration: none;
  transition: color .2s;

  &.active {
    color: #820000;
  }
}

// mover 

.mover {
  background: rgba(248, 25, 25, 0.979);
  height: 10px;
  width: 80px;
  border-radius: 10px;
  position: relative;
  animation: mover5 2s ease-in-out infinite;
}

.mover::before,
.mover::after {
  content: '';
  position: absolute;
  height: 10px;
  border-radius: 10px;
  left: 20px;
  animation: mover5 2s ease-in-out infinite;
}

.mover::before {
  background: rgb(201, 1, 1);
  top: 20px;
  width: 50px;
}

.mover::after {
  background: rgb(255, 116, 106);
  top: -20px;
  width: 60px;
}

@keyframes mover5 {
  0% {
    transform: translateX(30px) scale(1);
  }

  50% {
    transform: translateX(-30px) scale(1.1);
  }

  100% {
    transform: translateX(30px) scale(1);
  }
}

.mover__position{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}